.App{
    width:600px;
    padding:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#191919;
    text-align: center;
    border-radius: 10%;
}
.name, .surname{
    border:0;
    background:none;
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius:25px;
    transition: 0.25s;
}

.username {
    border:0;
    background:none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius:25px;
    transition: 0.25s;
}
.mail{
    border:0;
    background:none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #fff;
    border-radius:25px;
    transition: 0.25s;
}
.password{
    border:0;
    background:none;
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius:25px;
    transition: 0.25s;
}
.App input[type="submit"]{
    border:0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius:25px;
    transition: 0.25s;
}
.App input[type="text"]:focus, .App input[type="password"]:focus{
    width:220px;
    border-color: #2ecc71;
}
.App input[type="email"]:focus{
    width:350px;
    border-color: #2ecc71;
}
.App input[type="submit"]:hover{
    background: #2ecc71;
    font-size: larger;
}
.App h1{
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}
.App h2{
    color: rgb(179, 170, 170);
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}
.App p {
    color: rgb(179, 170, 170);
    
}

.App p a {
    text-decoration: none;
}

.App p a:hover {
    text-decoration: underline;
}