body{
    background-color: #34495e !important;
}
.data{
    background-color: rgb(126, 124, 126);
}
.data:hover {
    background-color: rgba(117, 228, 213, 0.637);
}

li {
    list-style: none;
    padding: 10px;
}